@(taskForm: Form[(Int,String)],message: String,login: Boolean,score: Int)(implicit messages: Messages)

@import helper._
@import views.BootstrapHelper._
@import models.Log._

@style("Score Server"){

	
	<div class="jumbotron">
		<div class="container">
			<h1>Score of CTF</h1>
		</div>
	</div>
	
	<div class="col-sm-8">
	<h2>@message</h2>
	@if(login==true){
	<div class="well well-lg">
	Your score is @score
	<br>
	<!-- 今までに解いてきた問題で得たポイントを合計して出力、ランキングも表示 -->
	</div>
	}
	
	<div class="list-group">
		<a class="list-group-item" href="#">
			Problem1
			<span class="badge">10pts</span>
		</a>
		<a class="list-group-item" href="#">
			Problem2
			<span class="badge">20pts</span>
		</a>
		<a class="list-group-item" href="#">
			Problem3
			<span class="badge">15pts</span>
		</a>
	</div>
	
	
	</div>
	<div class="col-sm-4">
	@if(login==false){
		<h2>Login form</h2>
		@helper.form(action=routes.Application.logAuth()){
	
			@helper.inputText(taskForm("id"))
			@helper.inputPassword(taskForm("pass"))
		
			<input type="submit" value="login">	
		}
		
		<h2>Regist page</h2>
		@helper.form(action=routes.Application.logAdmin()){
			<input type="submit" value="regist now!">	
		}
	}
	@if(login==true){
		<h2>Logout</h2>
		@helper.form(action=routes.Application.logOut()){
			<input type="submit" value="logout">
		}
	}
	</div>
}

